<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <appSettings>
    <add key="constr" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Chen\Desktop\桌面\C#\ConApp150604215\WinApp150604215\bin\Debug\WinApp150604215.mdb" />
    
  </appSettings>
  
  <connectionStrings>
    <add connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=WinApp150604215.mdb" name ="constr"/>
    
  </connectionStrings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>